https://code.kristianjones.dev:443 {
  tls /SSL/kristianjones.dev.pem /SSL/kristianjones.dev.key
  reverse_proxy /graphql api:80
}


https://*.code.kristianjones.dev {
  tls /SSL/kristianjones.dev.pem /SSL/kristianjones.dev.key
  
  reverse_proxy / {http.request.host.labels.0}:8080
} 